<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Spring Security Example</title>
</head>
<body>


<div sec:authorize="!isAuthenticated()">
    <a href="/reg"> reg </a>
    <br>
    <a href="/login"> login </a>
</div>

<div sec:authorize="isAuthenticated()">
    <h1>Welcome, [[${username}]]!</h1>
    <br>
    <br>
    <br>
    <form th:action="@{/logout}">
        <button type="submit"> logout</button>
    </form>
</div>

</body>
</html>