<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> reg </title>
</head>
<body>
<div>
  <h1> reg </h1>
  <form action="#" th:action="@{/reg}" th:method="post" th:user="${user}">

    <label>username:</label>
    <input type="text" th:field="*{user.username}"/><br/>

    <label>password:</label>
    <input type="text" th:field="*{user.password}"/><br/>


    <button type="submit" th:name="update" th:value="true"> sign up </button>
  </form>
  <br>
  <a href="/"> index </a>
</div>
</body>
</html>