<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> user info </title>
</head>
<body>
<div th:if="update == ${action}">
    <h1> user info update</h1>
    <form action="#" th:action="@{/userinfo}" th:method="patch" th:user="${user}">
        <input type="hidden" th:field="*{user.id}"/><br/>

        <label>username:</label>
        <input type="text" th:field="*{user.username}"/><br/>

        <label>password:</label>
        <input type="text" th:field="*{user.password}"/><br/>

        <label>enabled:</label>
        <input type="checkbox" th:field="*{user.enabled}" th:value="${user.enabled}"/><br/>

        <ul>
            <li th:each="role : ${selectableRoles}">
                <input type="checkbox" th:field="*{user.roles}" th:value="${role.id}">
                <label th:text="${role.role}"></label>
            </li>
        </ul>
        <br/>

        <button type="submit" th:name="update" th:value="true">update user</button>
    </form>
</div>
<div th:if="new == ${action}">
    <h1> user info new</h1>
    <form action="#" th:action="@{/userinfo}" th:method="post" th:user="${user}">
        <input type="hidden" th:field="*{user.id}"/><br/>

        <label>username:</label>
        <input type="text" th:field="*{user.username}"/><br/>

        <label>password:</label>
        <input type="text" th:field="*{user.password}"/><br/>

        <label>enabled:</label>
        <input type="checkbox" th:field="*{user.enabled}" th:value="${user.enabled}"/><br/>

        <ul>
            <li th:each="role : ${selectableRoles}">
                <input type="checkbox" th:field="*{user.roles}" th:value="${role.id}">
                <label th:text="${role.role}"></label>
            </li>
        </ul>
        <br/>

        <button type="submit" th:name="save" th:value="true">save user</button>
    </form>
</div>
<div>
    <br>
    <br>
    <br>
    <a href="/"> index </a>
    <form th:action="@{/logout}">
        <button type="submit"> logout</button>
    </form>
</div>
</body>
</html>